doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        #container
        block content
        script(src='/js/jquery.min.js')
        script(src='/js/socket.io.min.js')
        script(src='/js/chat.js')