doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src='/js/angular.min.js')
        script(src='/js/socket.io.min.js')
        script(src='/js/ui-bootstrap.min.js')
        script(src='/js/ui-bootstrap-tpls.min.js')
        script(src='/js/chat-angular.js')